<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
  <key>CFBundleDisplayName</key><string>DOT MD Markdown Thumbnail</string>
  <key>CFBundleExecutable</key><string>DOTMDThumbnail</string>
  <key>CFBundleIdentifier</key><string>app.dotmd.editor.thumbnail</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>DOTMDThumbnail</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>1.0.0</string>
  <key>CFBundleVersion</key><string>1.0.0</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSExtension</key><dict>
    <key>NSExtensionAttributes</key><dict>
      <key>QLSupportedContentTypes</key><array><string>net.daringfireball.markdown</string></array>
      <key>QLThumbnailMinimumDimension</key><integer>128</integer>
    </dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.thumbnail</string>
    <key>NSExtensionPrincipalClass</key><string>DOTMDThumbnail.ThumbnailProvider</string>
  </dict>
</dict></plist>
